{% block html_head_container %}
    {% include 'html-header.twig' %}
{% endblock %}

<body class="{{ body_class }} is-preload" data-template="base.twig">
    {{ function('wp_body_open') }}

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
            <header id="header" class="alt">
                <a href="index.html" class="logo">
                    <strong>{{ site.title }}</strong>
                    <span>{{ site.description }}</span>
                </a>
                {%- if menu.primary.items|length > 0 or menu.actions.items|length > 0 -%}
                    <nav>
                        <a href="#menu">Menu</a>
                    </nav>
                {%- endif -%}
            </header>

        {%- if menu.primary.items|length > 0 or menu.actions.items|length > 0 -%}
            <!-- Menu -->
            <nav id="menu">
                {%- if menu.primary.items|length > 0 -%}
                    <ul class="links">
                        {%- for item in menu.primary.get_items -%}
                            <li class="{{item.classes|join(' ') }}">
                                <a href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                        {%- endfor -%}
                    </ul>
                {%- endif -%}

                {%- if menu.actions.items|length > 0 -%}
                    <ul class="actions stacked">
                        {%- for item in menu.actions.get_items -%}
                            <li class="{{item.classes|join(' ') }}">
                                {# @TODO: Determine when to add primary class to buttons, etc? #}
                                <a class="button fit" href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                        {%- endfor -%}
                    </ul>
                {%- endif -%}
            </nav>
        {%- endif -%}

        {% block content %}
            Sorry, no content
        {% endblock %}

            <!-- Contact -->
                <section id="contact">
                    <div class="inner">
                        <section>
                            <form method="post" action="#">
                                <div class="fields">
                                    <div class="field half">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" id="name" />
                                    </div>
                                    <div class="field half">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" id="email" />
                                    </div>
                                    <div class="field">
                                        <label for="message">Message</label>
                                        <textarea name="message" id="message" rows="6"></textarea>
                                    </div>
                                </div>
                                <ul class="actions">
                                    <li><input type="submit" value="Send Message" class="primary" /></li>
                                    <li><input type="reset" value="Clear" /></li>
                                </ul>
                            </form>
                        </section>
                        <section class="split">
                            <section>
                                <div class="contact-method">
                                    <span class="icon solid alt fa-envelope"></span>
                                    <h3>Email</h3>
                                    <a href="#">information@untitled.tld</a>
                                </div>
                            </section>
                            <section>
                                <div class="contact-method">
                                    <span class="icon solid alt fa-phone"></span>
                                    <h3>Phone</h3>
                                    <span>(000) 000-0000 x12387</span>
                                </div>
                            </section>
                            <section>
                                <div class="contact-method">
                                    <span class="icon solid alt fa-home"></span>
                                    <h3>Address</h3>
                                    <span>1234 Somewhere Road #5432<br />
                                    Nashville, TN 00000<br />
                                    United States of America</span>
                                </div>
                            </section>
                        </section>
                    </div>
                </section>

            <!-- Footer -->
                <footer id="footer">
                    <div class="inner">
                        <ul class="icons">
                            {%- if theme.theme_mod('footer_social_twitter') -%}
                                <li>
                                    <a href="https://twitter.com/{{ theme.theme_mod('footer_social_twitter') }}" class="icon brands alt fa-twitter">
                                        <span class="label">Twitter</span>
                                    </a>
                                </li>
                            {%- endif -%}
                            {%- if theme.theme_mod('footer_social_facebook') -%}
                                <li>
                                    <a href="https://www.facebook.com/{{ theme.theme_mod('footer_social_facebook') }}" class="icon brands alt fa-facebook-f">
                                        <span class="label">Facebook</span>
                                    </a>
                                </li>
                            {%- endif -%}
                            {%- if theme.theme_mod('footer_social_instagram') -%}
                                <li>
                                    <a href="https://www.instagram.com/{{ theme.theme_mod('footer_social_instagram') }}/" class="icon brands alt fa-instagram">
                                        <span class="label">Instagram</span>
                                    </a>
                                </li>
                            {%- endif -%}
                            {%- if theme.theme_mod('footer_social_github') -%}
                                <li>
                                    <a href="https://github.com/{{ theme.theme_mod('footer_social_github') }}/" class="icon brands alt fa-github">
                                        <span class="label">GitHub</span>
                                    </a>
                                </li>
                            {%- endif -%}
                            {%- if theme.theme_mod('footer_social_linkedin') -%}
                                <li>
                                    <a href="https://www.linkedin.com/in/{{ theme.theme_mod('footer_social_linkedin') }}/" class="icon brands alt fa-linkedin-in">
                                        <span class="label">LinkedIn</span>
                                    </a>
                                </li>
                            {%- endif -%}
                        </ul>
                        <ul class="copyright">
                            <li>&copy; {{ theme.theme_mod('footer_copyright')|default(site.title) }} {{ "now"|date("Y") }}</li>
                            {%- if theme.theme_mod('footer_attribution_html5up') -%}
                                <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
                            {%- endif -%}
                            {%- if theme.theme_mod('footer_attribution_syllabary') -%}
                                <li>WordPress Port: <a href="https://syllabary.tech">Syllabary</a></li>
                            {%- endif -%}
                        </ul>
                    </div>
                </footer>
        </div>

        {{ function('wp_footer') }}
	</body>
</html>