{% block html_head_container %}
    {% include 'html-header.twig' %}
{% endblock %}

<body class="{{ body_class }} is-preload" data-template="base.twig">
    {{ function('wp_body_open') }}

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
            <header id="header" class="alt">
                <a href="index.html" class="logo">
                    <strong>{{ site.title }}</strong>
                    <span>{{ site.description }}</span>
                </a>
                {%- if menu.primary.items|length > 0 or menu.actions.items|length > 0 -%}
                    <nav>
                        <a href="#menu">Menu</a>
                    </nav>
                {%- endif -%}
            </header>

        {%- if menu.primary.items|length > 0 or menu.actions.items|length > 0 -%}
            <!-- Menu -->
            <nav id="menu">
                {%- if menu.primary.items|length > 0 -%}
                    <ul class="links">
                        {%- for item in menu.primary.get_items -%}
                            <li class="{{item.classes|join(' ') }}">
                                <a href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                        {%- endfor -%}
                    </ul>
                {%- endif -%}

                {%- if menu.actions.items|length > 0 -%}
                    <ul class="actions stacked">
                        {%- for item in menu.actions.get_items -%}
                            <li class="{{item.classes|join(' ') }}">
                                {# @TODO: Determine when to add primary class to buttons, etc? #}
                                <a class="button fit" href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                        {%- endfor -%}
                    </ul>
                {%- endif -%}
            </nav>
        {%- endif -%}

        {% block content %}
            Sorry, no content
        {% endblock %}

            {%- set show_form = theme.theme_mod('footer_contact_form') -%}
            {%- set email = theme.theme_mod('footer_contact_email') -%}
            {%- set phone = theme.theme_mod('footer_contact_phone') -%}
            {%- set address = theme.theme_mod('footer_contact_address') -%}

            {%- if show_form or email|length or phone|length or address|length -%}
                <!-- Contact -->
                <section id="contact">
                    <div class="inner">
                        {%- if show_form and email|length -%}
                            <section>
                                <form method="post" action="https://mailthis.to/{{ email }}">
                                    <div class="fields">
                                        <div class="field half">
                                            <label for="name">Name</label>
                                            <input type="text" name="name" id="name" />
                                        </div>
                                        <div class="field half">
                                            <label for="email">Email</label>
                                            <input type="text" name="email" id="email" />
                                        </div>
                                        <div class="field">
                                            <label for="message">Message</label>
                                            <textarea name="message" id="message" rows="6"></textarea>
                                        </div>
                                    </div>
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message" class="primary" /></li>
                                        <li><input type="reset" value="Clear" /></li>
                                    </ul>
                                </form>
                            </section>
                        {%- endif -%}
                        <section class="split">
                            {%- if email|length -%}
                                <section>
                                    <div class="contact-method">
                                        <span class="icon solid alt fa-envelope"></span>
                                        <h3>Email</h3>
                                        <span>{{ email }}</span>
                                    </div>
                                </section>
                            {%- endif -%}
                            {%- if phone|length -%}
                                <section>
                                    <div class="contact-method">
                                        <span class="icon solid alt fa-phone"></span>
                                        <h3>Phone</h3>
                                        <span>{{ phone }}</span>
                                    </div>
                                </section>
                            {%- endif -%}
                            {%- if address|length -%}
                                <section>
                                    <div class="contact-method">
                                        <span class="icon solid alt fa-home"></span>
                                        <h3>Address</h3>
                                        <span>{{ address }}</span>
                                    </div>
                                </section>
                            {%- endif -%}
                        </section>
                    </div>
                </section>
            {%- endif -%}

            {%- set twitter = theme.theme_mod('footer_social_twitter') -%}
            {%- set facebook = theme.theme_mod('footer_social_facebook') -%}
            {%- set instagram = theme.theme_mod('footer_social_instagram') -%}
            {%- set github = theme.theme_mod('footer_social_github') -%}
            {%- set linkedin = theme.theme_mod('footer_social_linkedin') -%}

                <!-- Footer -->
                <footer id="footer">
                    <div class="inner">
                        {%- if twitter or facebook or instagram or github or linkedin -%}
                            <ul class="icons">
                                {%- if twitter -%}
                                    <li>
                                        <a href="https://twitter.com/{{ twitter }}" class="icon brands alt fa-twitter">
                                            <span class="label">Twitter</span>
                                        </a>
                                    </li>
                                {%- endif -%}
                                {%- if facebook -%}
                                    <li>
                                        <a href="https://www.facebook.com/{{ facebook }}" class="icon brands alt fa-facebook-f">
                                            <span class="label">Facebook</span>
                                        </a>
                                    </li>
                                {%- endif -%}
                                {%- if instagram -%}
                                    <li>
                                        <a href="https://www.instagram.com/{{ instagram }}/" class="icon brands alt fa-instagram">
                                            <span class="label">Instagram</span>
                                        </a>
                                    </li>
                                {%- endif -%}
                                {%- if github -%}
                                    <li>
                                        <a href="https://github.com/{{ github }}/" class="icon brands alt fa-github">
                                            <span class="label">GitHub</span>
                                        </a>
                                    </li>
                                {%- endif -%}
                                {%- if linkedin -%}
                                    <li>
                                        <a href="https://www.linkedin.com/in/{{ linkedin }}/" class="icon brands alt fa-linkedin-in">
                                            <span class="label">LinkedIn</span>
                                        </a>
                                    </li>
                                {%- endif -%}
                            </ul>
                        {%- endif -%}
                        <ul class="copyright">
                            <li>&copy; {{ "now"|date("Y") }} {{ theme.theme_mod('footer_copyright')|default(site.title) }}</li>
                            {%- if theme.theme_mod('footer_attribution_html5up') -%}
                                <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
                            {%- endif -%}
                            {%- if theme.theme_mod('footer_attribution_syllabary') -%}
                                <li>WordPress Port: <a href="https://syllabary.tech">Syllabary</a></li>
                            {%- endif -%}
                        </ul>
                    </div>
                </footer>
        </div>

        {{ function('wp_footer') }}
	</body>
</html>