{% extends "base.twig" %}

{% block content %}
    {% if posts|length == 1 %}
        {% for post in posts %}
            {%- set media_id = post.meta('forty_banner_media_id') -%}
            {%- set media_url = post.meta('forty_banner_media_url') -%}
            {%- set media_alt = post.meta('forty_banner_media_alt') -%}
            {%- set heading = post.meta('forty_banner_heading') -%}
            {%- set content = post.meta('forty_banner_content') -%}

            {%- if media_id or heading or content -%}
                <!-- Banner -->
                {%- if media_id -%}
                    <section id="banner" class="major" style="background-image: url({{media_url}})">
                {%- else -%}
                    <section id="banner" class="major">
                {%- endif -%}
                    {%- if media_id -%}
                        <span class="image" style="display:none;">
                            <img src="{{media_url}}" alt="{{media_alt}}">
                        </span>
                    {%- endif -%}
                    <div class="inner">
                        {%- if heading -%}
                            <header class="major">
                                <h1>{{ heading }}</h1>
                            </header>
                        {%- endif -%}
                        {%- if content -%}
                            <div class="content">
                                <p>{{ content }}</p>
                            </div>
                        {%- endif -%}
                    </div>
                </section>
            {% endif %}

            <!-- Content -->
            <div id="main">
                {{ post.content }}
            </div>
        {% endfor %}
    {% else %}
        {% for post in posts %}
            <section id="one">
                <div class="inner">
                    <header class="major">
                        {{ post.title }}
                    </header>
                    {{ post.content }}
                </div>
            </section>
        {% endfor %}
    {% endif %}
{% endblock %}
